Repository susannah-go/sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: data, env

.github/labeler.yml:

data:
  - db/data/*

env:
  - .env

test
  .env
  db/data/foo
Labels: data, env

asdf
  .github/workflows/labeler.yml
Labels: none

no colon
  .github/workflows/labeler.yml
Labels: none

test
  .env
  db/data/foo
Labels: data, env

env
  .env
Labels: env

asdf
  .env
  db/data/foo
Labels: data, env

empty file
  .env
Labels: env
